{% load staticfiles %}
<html>
<head>
		<title>{{ guild.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'discord/framework.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'discord/responsive.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'discord/core.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'discord/core_responsive.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'discord/forums.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'discord/forums_responsive.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'discord/custom.css' %}" media="all">
</head>
<body class="ipsApp ipsApp_front ipsJS_has ipsClearfix" data-controller="core.front.core.app"  data-message=""  data-pageapp="forums" data-pagelocation="front" data-pagemodule="forums" data-pagecontroller="index" itemscope itemtype="http://schema.org/WebSite">
	<div id="ipsLayout_header" class="ipsClearfix">
		<header>
			<div class="ipsLayout_container">
				<a href="{% url 'discord:index' %}" id="elLogo" accesskey="1"><span style="color: rgb(250, 250, 250); font-size: 24px;">Definitely Not </span><img src="http://www.dustloop.com/forums/uploads/monthly_2016_03/lightdustloop.png.671eea959c3a5f000e6bd7fa99568b0e.png" alt="Not Dustloop Forums"></a>
			</div>
		</header>
		
	</div>
	<main role="main" id="ipsLayout_body" class="ipsLayout_container">
		<div id="ipsLayout_contentArea">
			<div id="elHeaderNavigation" class="ipsSubNavigation" style="border-radius: 3px 3px 0px 0px;">
				<nav class="ipsLayout_container" data-controller="core.front.core.navBar" id="ips_uid_5365_2" style="padding: 0px; max-width: 100%">
					<div class="ipsNavBar_primary ipsClearfix" style="color: rgb(250, 250, 250); padding: 5px 5px 5px 5px;">
						I Totally Didn't Just Steal Dustloop's CSS
				
						<span id="elSearch" class="ipsPos_right" data-controller="core.front.core.quickSearch" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" data-default="forums_topic">
							<form accept-charset="utf-8" action="{% url 'discord:search' 1 %}" method="get">
								<meta itemprop="target" content="{% url 'discord:search' 1 %}">
								<input type="search" id="elSearchField" placeholder="Search..." name="querytext" itemprop="query-input" style="right: 30;">
								<input type="hidden" name="channel" value="{{ guild.id }}">
								<button type="submit" style="right: 1; color: rgb(0,0,0);">⌕</button>
							</form>
						</span>
					</div>
				</nav>
				<nav class="ipsBreadcrumb ipsBreadcrumb_top ipsFaded_withHover" style="display: block;">
					<ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" style="display: table-cell;">
							<a href="{% url 'discord:index' %}" itemprop="url">
								<span itemprop="name">Home</span>
							</a>
						</li>
						<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"style="display: table-cell;">
							<span itemprop="name">/</span>
							<a href="{% url 'discord:guild' guild.id %}" itemprop="url">
								<span itemprop="name">{{ guild.name }}</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div id="ipsLayout_contentWrapper">
				<div id="ipsLayout_mainArea">
					<div class="ipsPageHeader ipsClearfix ipsSpacer_bottom">
						<h1 class="ipsType_pageTitle">Channels</h1>
					</div>
					<section>
						<ol class="ipsList_reset cForumList" data-controller="core.global.core.table, forums.front.forum.forumList" data-baseurl="">
							{% if channels %}
							<li class="cForumRow ipsBox ipsSpacer_bottom">
								<h2 class="ipsType_sectionTitle ipsType_reset cForumTitle">
									{{ guild.name }}
								</h2>
								<ol class="ipsDataList ipsDataList_large ipsDataList_zebra ipsAreaBackground_reset" data-role="forums">
									{% for channel in channels %}
									<li class="ipsDataItem ipsDataItem_responsivePhoto  ipsClearfix">
										<div class="ipsDataItem_main" style="display: table-cell;">
											<h4 class="ipsDataItem_title ipsType_large">
												<a href="{% url 'discord:channel' channel.guild.id channel.id 1 %}">{{ channel.name }}</a>
											</h4>
											<div class="ipsDataItem_meta ipsType_richText"><p>{{ channel.message_set.values|length }} Messages</p></div>
										</div>
									</li>
									{% endfor %}
								</ol>
							</li>
							{% endif %}
						</ol>
					</section>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
