<html>
<head>
		<!--link href="framework.css" rel="stylesheet" type="text/css">
		<link href="custom.css" rel="stylesheet" type="text/css"-->
		<link rel="stylesheet" href="http://www.dustloop.com/forums/uploads/css_built_15/341e4a57816af3ba440d891ca87450ff_framework.css.865bb069ca9a7e545d79d95591d28caa.css?v=e91c5282a8" media="all">
		<link rel="stylesheet" href="http://www.dustloop.com/forums/uploads/css_built_15/05e81b71abe4f22d6eb8d1a929494829_responsive.css.172384954e74b96b932374a055521605.css?v=e91c5282a8" media="all">
		<link rel="stylesheet" href="http://www.dustloop.com/forums/uploads/css_built_15/90eb5adf50a8c640f633d47fd7eb1778_core.css.2a75800a32de367543d2b90f97037ce7.css?v=e91c5282a8" media="all">
		<link rel="stylesheet" href="http://www.dustloop.com/forums/uploads/css_built_15/5a0da001ccc2200dc5625c3f3934497d_core_responsive.css.46135005d7e46c91f392afa72aaf44cd.css?v=e91c5282a8" media="all">
		<link rel="stylesheet" href="http://www.dustloop.com/forums/uploads/css_built_15/62e269ced0fdab7e30e026f1d30ae516_forums.css.28c5867508c483786522320669b22103.css?v=e91c5282a8" media="all">
		<link rel="stylesheet" href="http://www.dustloop.com/forums/uploads/css_built_15/76e62c573090645fb99a15a363d8620e_forums_responsive.css.9fbd0a5889d1acd1d279211ed94d1443.css?v=e91c5282a8" media="all">
		<link rel="stylesheet" href="http://www.dustloop.com/forums/uploads/css_built_15/258adbb6e4f3e83cd3b355f84e3fa002_custom.css.0758c253a0f71410fcf8ad22d9b20433.css?v=e91c5282a8" media="all">
</head>
<body class="ipsApp ipsApp_front ipsJS_has ipsClearfix" data-controller="core.front.core.app"  data-message=""  data-pageapp="forums" data-pagelocation="front" data-pagemodule="forums" data-pagecontroller="index" itemscope itemtype="http://schema.org/WebSite">
	<div id="ipsLayout_header" class="ipsClearfix">
		<header>
			<div class="ipsLayout_container">
				<a href="{% url 'discord:index' %}" id="elLogo" accesskey="1"><span style="color: rgb(250, 250, 250); font-size: 24px;">Definitely Not </span><img src="http://www.dustloop.com/forums/uploads/monthly_2016_03/lightdustloop.png.671eea959c3a5f000e6bd7fa99568b0e.png" alt="Not Dustloop Forums"></a>
			</div>
		</header>
		<nav class="ipsLayout_container" data-controller="core.front.core.navBar" id="ips_uid_5365_2">
			<div class="ipsNavBar_primary  ipsClearfix" style="color: rgb(250, 250, 250); padding-bottom: 5px;">
				I Totally Didn't Just Steal Dustloop's CSS
			</div>
		</nav>
	</div>
	<main role="main" id="ipsLayout_body" class="ipsLayout_container">
		<div id="ipsLayout_contentArea">
			<div id="elHeaderNavigation" class="ipsSubNavigation">
				<nav class="ipsBreadcrumb ipsBreadcrumb_top ipsFaded_withHover">
					<ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							<a href="{% url 'discord:index' %}" itemprop="url">
								<span itemprop="name">Home</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div id="ipsLayout_contentWrapper">
				<div id="ipsLayout_mainArea">
					<div class="ipsPageHeader ipsClearfix ipsSpacer_bottom">
						<h1 class="ipsType_pageTitle">Servers</h1>
					</div>
					<section>
						<ol class="ipsList_reset cForumList" data-controller="core.global.core.table, forums.front.forum.forumList" data-baseurl="">
							{% if game_list %}
							{% for game in game_list %}
							<li class="cForumRow ipsBox ipsSpacer_bottom">
								<h2 class="ipsType_sectionTitle ipsType_reset cForumTitle">
									{{ game.name }}
								</h2>
								<ol class="ipsDataList ipsDataList_large ipsDataList_zebra ipsAreaBackground_reset" data-role="forums">
									{% for guild in game.guild_set.all %}
									<li class="ipsDataItem ipsDataItem_responsivePhoto  ipsClearfix">
										<div class="ipsDataItem_icon ipsDataItem_category">
											{% if guild.icon %}
											<img src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.jpg" height="50" width="50" class="ipsItemStatus ipsItemStatus_custom ipsItemStatus_read" style="border-radius: 25px">
											{% else %}
											<img src="https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png" height="50" width="50" class="ipsItemStatus ipsItemStatus_custom ipsItemStatus_read" style="border-radius: 25px">
											{% endif %}
										</div>
										<div class="ipsDataItem_main" style="display: table-cell;">
											<h4 class="ipsDataItem_title ipsType_large">
												<a href="{% url 'discord:guild' guild.id %}">{{ guild.name }}</a>
											</h4>
											<div class="ipsDataItem_meta ipsType_richText"><p></p></div>
										</div>
									</li>
									{% endfor %}
								</ol>
							</li>
							{% endfor %}
							{% endif %}
							{% if misc %}
							<li class="cForumRow ipsBox ipsSpacer_bottom">
								<h2 class="ipsType_sectionTitle ipsType_reset cForumTitle">
									Miscellaneous
								</h2>
								<ol class="ipsDataList ipsDataList_large ipsDataList_zebra ipsAreaBackground_reset" data-role="forums">
									{% for guild in misc %}
									<li class="ipsDataItem ipsDataItem_responsivePhoto  ipsClearfix">
										<div class="ipsDataItem_icon ipsDataItem_category">
											{% if guild.icon %}
											<img src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.jpg" height="50" width="50" class="ipsItemStatus ipsItemStatus_custom ipsItemStatus_read" style="border-radius: 25px">
											{% else %}
											<img src="https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png" height="50" width="50" class="ipsItemStatus ipsItemStatus_custom ipsItemStatus_read" style="border-radius: 25px">
											{% endif %}
										</div>
										<div class="ipsDataItem_main" style="display: table-cell;">
											<h4 class="ipsDataItem_title ipsType_large">
												<a href="{% url 'discord:guild' guild.id %}">{{ guild.name }}</a>
											</h4>
											<div class="ipsDataItem_meta ipsType_richText"><p></p></div>
										</div>
									</li>
									{% endfor %}
								</ol>
							</li>
							{% endif %}
						</ol>
					</section>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
